# Assignment1

In [42]:
import pandas as pd

In [43]:
import matplotlib.pyplot as plt

In [53]:
df=pd.read_excel('assign1.xlsx')

In [54]:
df.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

In [55]:
df.isnull().sum()

Transaction date                            0
House Age                                   0
Distance from nearest Metro station (km)    0
Number of convenience stores                0
latitude                                    0
longitude                                   0
Number of bedrooms                          0
House size (sqft)                           0
House price of unit area                    0
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Transaction date                          414 non-null    float64
 1   House Age                                 414 non-null    float64
 2   Distance from nearest Metro station (km)  414 non-null    float64
 3   Number of convenience stores              414 non-null    int64
 4   latitude                                  414 non-null    float64
 5   longitude                                 414 non-null    float64
 6   Number of bedrooms                        414 non-null    int64
 7   House size (sqft)                         414 non-null    int64
 8   House price of unit area                  414 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 29.2 KB

In [62]:
import seaborn as sn

In [64]:
g=df.corr()

In [66]:
g

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
Transaction date,1.000000,0.017542,0.060880,0.009544,0.035016,-0.041065,0.061985,0.068405,0.087529
House Age,0.017542,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.008756,-0.060361,-0.210567
Distance from nearest Metro station (km),0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.046856,0.001795,-0.673613
Number of convenience stores,0.009544,0.049593,-0.602519,1.000000,0.444143,0.449099,0.043638,0.033286,0.571005
latitude,0.035016,0.054420,-0.591067,0.444143,1.000000,0.412924,0.043921,0.031696,0.546307
longitude,-0.041065,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.041680,0.009322,0.523287
Number of bedrooms,0.061985,-0.008756,-0.046856,0.043638,0.043921,0.041680,1.000000,0.752276,0.050265
House size (sqft),0.068405,-0.060361,0.001795,0.033286,0.031696,0.009322,0.752276,1.000000,0.046489
House price of unit area,0.087529,-0.210567,-0.673613,0.571005,0.546307,0.523287,0.050265,0.046489,1.000000

In [67]:
df['House price of unit area'].corr(df['Transaction date'])

0.08752927169725987

In [68]:
df['House price of unit area'].corr(df['House Age'])

-0.21056704627721676

In [69]:
### Relationship between House price of unit area and other features in descending order
"""
Number of convenience stores 0.571005
latitude 0.546307
longitude 0.523287
Transaction date 0.087529
Number of bedrooms 0.050265
House size (sqft) 0.046489
House Age -0.210567
Distance from nearest Metro station (km) -0.673613
"""

'\nNumber of convenience stores 0.571005\nlatitude 0.546307\nlongitude 0.523287\nTransaction date 0.087529\nNumber of bedrooms 0.050265\nHouse size (sqft) 0.046489\nHouse Age -0.210567\nDistance from nearest Metro station (km) -0.673613\n'

In [111]:
###Lets take the top features that are related to House price of unit area as x
x=df.drop(['House price of unit area'],axis=1)

In [112]:
x.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft)
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491

In [113]:
y=pd.DataFrame(df['House price of unit area'])

In [114]:
y.head()

   House price of unit area
0                      37.9
1                      42.2
2                      47.3
3                      54.8
4                      43.1

In [115]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x = min_max_scaler.fit_transform(x)

In [116]:
x

array([[0.27272729, 0.73059361, 0.00951267, ..., 0.71932284, 0.        ,
        0.1575592 ],
       [0.27272729, 0.44520548, 0.04380939, ..., 0.71145137, 0.5       ,
        0.76320583],
       [1.        , 0.30365297, 0.08331505, ..., 0.75889584, 1.        ,
        0.5992714 ],
       ...,
       [0.63636365, 0.42922374, 0.05686115, ..., 0.71522536, 0.        ,
        0.09198543],
       [0.36363635, 0.18493151, 0.0125958 , ..., 0.72395946, 0.        ,
        0.17759563],
       [0.90909094, 0.14840183, 0.0103754 , ..., 0.75016174, 0.5       ,
        0.63296903]])

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import explained_variance_score
from sklearn.metrics import confusion_matrix

In [118]:
X_train, X_test,y_train, y_test = train_test_split(x,y ,
                                   random_state=1, 
                                   test_size=0.20, 
                                   shuffle=True)
model = LinearRegression().fit(X_train, y_train)
y_pred = model.predict(X_test)

In [119]:
r2 = r2_score(y_test, y_pred)
print(r2)

0.6899543185423294

In [122]:
tr_regressor = DecisionTreeRegressor(random_state=0)
tr_regressor.fit(X_train,y_train)
tr_regressor.score(X_test,y_test)
pred_tr = tr_regressor.predict(X_test)
decision_score=tr_regressor.score(X_test,y_test)
expl_tr = explained_variance_score(pred_tr,y_test)

In [123]:
rf_regressor = RandomForestRegressor(n_estimators=28,random_state=0)
rf_regressor.fit(X_train,y_train)
rf_regressor.score(X_test,y_test)
rf_pred =rf_regressor.predict(X_test)
rf_score=rf_regressor.score(X_test,y_test)
expl_rf = explained_variance_score(rf_pred,y_test)

<ipython-input-123-c552e88c3e0a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_regressor.fit(X_train,y_train)

In [125]:
print("Decision tree  Regression Model Score is ",round(tr_regressor.score(X_test,y_test)*100))
print("Random Forest Regression Model Score is ",round(rf_regressor.score(X_test,y_test)*100))

Decision tree  Regression Model Score is  46
Random Forest Regression Model Score is  62

In [126]:
# so we get the best accuracy from LinearRegression i.e. 68%